// Navlist

#Navlist a {
  text-decoration: none;
  color: black;
}

#Navlist a:hover {
  color: #2874f0;
}

#Navlist a img {
  width: 60px;
}

#Navlist a p {
  font-size: 14px;
  font-weight: bold;
}

// Slider
#Slider a img {
  width: 100%;
}
