#login_head {
  background-color: #2874f0;
  color: white;
  padding: 40px 30px;
}

#login_head p {
  width: 80%;
  text-align: justify;
  font-size: 18px;
  font-weight: normal;
  color: blanchedalmond;
  margin-top: 20px;
  margin-bottom: 100px;
}

#login_main {
  padding: 50px;
  font-weight: normal;
}
